.gallery {
  display: block;
  padding: 16px;
  text-align: center; /* Zentriert den Inhalt horizontal */
}

.gallery-item {
  width: 33%; /* Nimmt 33% der Containerbreite auf größeren Bildschirmen ein */
  margin: 0 auto 16px auto; /* Zentriert das Element und fügt unten Abstand hinzu */
  overflow: hidden;
}

.gallery img {
  width: 100%; 
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* Media Query für Mobilgeräte */
@media (max-width: 768px) {
  .gallery-item {
    width: 90%; /* Nimmt 66% der Containerbreite auf kleineren Bildschirmen ein */
  }
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  .gallery {
    background-color: #121212; /* Dunkler Hintergrund für die Galerie */
    color: #ffffff; /* Heller Text */
  }

  .gallery-item {
    background-color: #1e1e1e; /* Dunklerer Hintergrund für die einzelnen Items */
  }

  .gallery img {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Hellerer Schatten im Dark Mode */
  }
}
